Repository Projeto-ALES/ales-website, pull requests merged in 2020-10, with the labels that each got.

#73 Refactor Subject entity para Course entity
  backend/app.js
  backend/src/controllers/course.controller.js
  backend/src/controllers/lesson.controller.js
  backend/src/controllers/subject.controller.js
  backend/src/models/course.js
  backend/src/models/lesson.js
  backend/src/models/subject.js
  backend/src/services/course.service.js
  backend/src/services/lesson.service.js
  backend/src/services/subject.service.js
  frontend/src/services/course.service.js
  frontend/src/views/Course/CourseDetail/CourseDetail.js
  frontend/src/views/Course/CourseEdit/CourseEdit.js
  frontend/src/views/Course/CourseList/CourseList.js
Labels: backend, frontend

#74 Atualizando dependências no yarn.lock do frontend
  frontend/yarn.lock
Labels: frontend

#71 Adiciona template de PR
  .github/pull_request_template.md
Labels: documentation
